
.container {
	display: grid;
	grid-template-columns: repeat(10, auto);
}

.column {
	display: flex;
	flex-direction: column;
	line-height: 28px;
}

.column > input
{
	min-height: 24px;
}

input[type=range]
{
	display: inline;
}

.column > br
{
	line-height: 0px;
	height: 0;
}