
.container {
	display: grid;
	grid-template-columns: repeat(10, auto);
}

.column {
	display: flex;
	flex-direction: column;
	line-height: 28px;
}

.column > input
{
	min-height: 24px;
}

input[type=range]
{
	display: inline;
	width: 100%;
}

.column > br
{
	line-height: 0px;
	height: 0;
}

.column > .column  div {
	display: flex;
	flex-direction: row;
}

.column > .column  div > span {
	display: inline-flex;
	min-width: calc(8 * 5px);
}

label
{
	user-select: none;
	cursor: pointer;
}